.footer {
  background-color: var(--VeryDarkViolet);
  color: #fff;
  padding: 40px 0px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}
.footer-logo-wrapper {
  flex: 2;
}
.footer-logo-wrapper img > svg {
  fill: #fff;
}
.footer-links {
  flex: 1;
}
.footer-links > h4 {
  margin-top: 0px;
}
.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-links-item {
  text-decoration: none;
  color: var(--gray);
  transition: all 0.3s ease-out;
}
.footer-links-item:hover {
  color: var(--cyan);
}
.footer-links-social {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.fab {
  color: #fff;
  font-size: 2rem;
}

.fab:hover {
  color: var(--cyan);
}

@media screen and (max-width: 768px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .footer-links-container {
  }
}
